default: &default
  read_from_openwrt:
    class: CollectFromOpenWRTJob
    schedule: every 30 seconds
  discover_devices:
    class: Mqtt::DiscoverAllJob
    schedule: every 10 minutes
  publish_devices:
    class: Mqtt::PublishAllJob
    schedule: every minute

development:
  <<: *default

production:
  <<: *default
